<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img class="img-circle mouse-pointer" alt="image" *ngIf="imgBase64" [src]="imgBase64" />
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">{{userName}}</strong>
                <b class="caret"></b>
              </span>
              <span class="text-muted text-xs block">

              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a>Edit Profile</a>
            </li>
            <li>
              <a (click)="changeTheme()">Change Theme</a>
            </li>
            <li>
              <a>Change Password</a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </div>
        <div class="logo-element mouse-pointer" (click)="goToHome()">
          LD+
        </div>
      </li>
      <li>
        <a (click)="router.navigate(['/admin/customer/list'])">
          <i class="fa fa-user"></i>
          <span class="nav-label">Customer List</span>
        </a>
      </li>
      <li>
        <a (click)="router.navigate(['/admin/customer/search'])">
          <i class="fa fa-briefcase"></i>
          <span class="nav-label">Search Customer</span>
        </a>
      </li>
      <li>
        <a (click)="router.navigate(['/admin/account/search'])">
          <i class="fa fa-inr"></i>
          <span class="nav-label">Search Account</span>
        </a>
      </li>
      <li>
        <a (click)="router.navigate(['/admin/branch/list'])">
          <i class="fa fa-list-alt"></i>
          <span class="nav-label">Branch List</span>
        </a>
      </li>
    </ul>

  </div>
</nav>