<div class="row">
    <div class="col-md-4 col-lg-4 col-xs-6 mouse-pointer outline-none" [routerLink]="['/details']">
        <img src="../../../../assets/images/money-bag.png">
    </div>

    <div class="col-md-4 col-lg-4 col-xs-6 mouse-pointer outline-none" [routerLink]="['/deposit']">
        <img src="../../../../assets/images/deposit.png">
    </div>

    <div class="col-md-4 col-lg-4 col-xs-6 mouse-pointer outline-none" [routerLink]="['/withdrow']">
        <img src="../../../../assets/images/withdrow.png">
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-lg-4 col-xs-6 mouse-pointer outline-none" [routerLink]="['/transfer']">
        <img src="../../../../assets/images/transfer.png">
    </div>

    <div class="col-md-4 col-lg-4 col-xs-6 mouse-pointer outline-none" [routerLink]="['/transactions']">
        <img src="../../../../assets/images/transaction.png" style="width: 185px;">
    </div>

</div>