<div class="panel panel-primary">
  <div class="panel-heading">
    Account Summary
  </div>
  <div class="panel-body">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <div class="row">
              <div class="div col-sm-4">Account ID:</div>
              <div class="div col-sm-8">{{userService.accountInfo.accountId}}</div>
            </div>
          </h5>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <div class="row">
              <div class="div col-sm-4">Amount:</div>
              <div class="div col-sm-8">{{userService.accountInfo.amount}}</div>
            </div>
          </h5>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">
            <div class="row">
              <div class="div col-sm-4">Type:</div>
              <div class="div col-sm-8">{{userService.accountInfo.type}}</div>
            </div>
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>