<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Online Banking System</h2>
   </div>
  <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class=col-md-6>
      <div [routerLink]="['/admin/customer/add']" class="widget style1 navy-bg mouse-pointer setings-item">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 text-right">
            <h3 class="font-bold">Add New Customer</h3>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-6>
      <div [routerLink]="['/admin/customer/search']" class="widget style1 yellow-bg p-lg mouse-pointer setings-item">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 text-right">
            <h3 class="font-bold">Search Customer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class=col-md-6>
      <div [routerLink]="['/admin/account/add']" class="widget style1 lazur-bg mouse-pointer setings-item">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-file fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 text-right">
            <h3 class="font-bold">Add New Bank Account</h3>
          </div>
        </div>
      </div>
    </div>

    <div class=col-md-6>
      <div [routerLink]="['/admin/customer/search']" class="widget style1 red-bg mouse-pointer setings-item">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-search fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-md-8 text-right">
            <h3 class="font-bold">Search Bank Account</h3>
          </div>
        </div>
      </div>
    </div>

  </div>